<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime requestPathInvalidCharacters="" maxUrlLength="8192"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <remove name="apicache-store" />
        <remove name="apicache-version" />
        <remove name="x-github-request-id" />
        <remove name="x-fastly-request-id" />
        <remove name="x-served-by" />
        <add name="Arr-Disable-Session-Affinity" value="true" />
      </customHeaders>
    </httpProtocol>
    <webSocket enabled="false" />
    <security>
      <requestFiltering removeServerHeader ="true" >
        <fileExtensions allowUnlisted="true" >
          <add fileExtension=".php" allowed="false"/>
          <add fileExtension=".map" allowed="false"/>
        </fileExtensions>
        <hiddenSegments>
          <add segment="node_modules" />
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
    <rewrite>
      <rules>
        <rule name="WarmupSplashPage" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APP_WARMING_UP}" pattern="1" />
            <add input="{WARMUP_REQUEST}" pattern="1" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^100?\." negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="Initialization" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="SiteWarmup" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="AlwaysOn" negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="503" statusReason="Down for maintenance" statusDescription="We will be back up soon" />
        </rule>

        <!-- Redirect to HTTPS Version Always -->
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{WARMUP_REQUEST}" pattern="1" negate="true" />
            <add input="{REMOTE_ADDR}" pattern="^100?\." negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="Initialization" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="SiteWarmup" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="AlwaysOn" negate="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>

        <!-- All other URLs are mapped to the node.js web app entry point -->
        <rule name="DynamicContent">
          <action type="Rewrite" url="server.js"/>
        </rule>
      </rules>
      <outboundRules>
        <rule name="WarmupSplashPageCacheControl">
          <match serverVariable="RESPONSE_Cache_Control" pattern="(.*)" negate="false" />
          <conditions>
            <add input="{APP_WARMING_UP}" pattern="1" />
            <add input="{HTTP_USER_AGENT}" pattern="Initialization" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="SiteWarmup" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="AlwaysOn" negate="true" />
          </conditions>
          <action type="Rewrite" value="no-store, no-cache, must-revalidate" />
        </rule>

        <rule name="WarmupSplashPagePragma">
          <match serverVariable="RESPONSE_Pragma" pattern="(.*)" negate="false" />
          <conditions>
            <add input="{APP_WARMING_UP}" pattern="1" />
            <add input="{HTTP_USER_AGENT}" pattern="Initialization" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="SiteWarmup" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="AlwaysOn" negate="true" />
          </conditions>
          <action type="Rewrite" value="no-cache" />
        </rule>

        <rule name="WarmupSplashPageExpires">
          <match serverVariable="RESPONSE_Expires" pattern="(.*)" negate="false" />
          <conditions>
            <add input="{APP_WARMING_UP}" pattern="1" />
            <add input="{HTTP_USER_AGENT}" pattern="Initialization" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="SiteWarmup" negate="true" />
            <add input="{HTTP_USER_AGENT}" pattern="AlwaysOn" negate="true" />
          </conditions>
          <action type="Rewrite" value="Tue, 01 Jan 1980 1:00:00 GMT" />
        </rule>
      </outboundRules>
    </rewrite>
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/" />
    </applicationInitialization>
  </system.webServer>
</configuration>